<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from colorlib.com/polygon/admindek/default/dashboard-crm.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 16:08:30 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <title>Admindek | Admin Template</title>


    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
        content="Admindek Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords"
        content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="colorlib" />

    <link rel="icon" href="https://colorlib.com/polygon/admindek/files/assets/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">

    <link rel="stylesheet" href="../../css/waves.min.css" type="text/css" media="all">

    <link rel="stylesheet" type="text/css" href="../../css/feather.css">
    <link rel="stylesheet" type="text/css" href="../../css/icofont.css">
    <link rel="stylesheet" type="text/css" href="../../css/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awesome-n.min.css">

    <link rel="stylesheet" href="../../css/chartist.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="../../css/list.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/widget.css">
    <link rel="stylesheet" type="text/css" href="../../css/pages.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <link rel="stylesheet" href="../../css/custom.css">

</head>

<body>

    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header " header-theme="theme6">
                <div class="navbar-wrapper">
                    <div class="navbar-logo" logo-theme="theme6">
                        <a href="/">
                            <img class="img-fluid" src="png/logo-selfmade.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu icon-toggle-right"></i>
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close">
                                            <i class="feather icon-x input-group-text"></i>
                                        </span>

                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn">
                                            <i class="feather icon-search input-group-text"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/<%= user.username %>/create-set">
                                    <div class="d-inline">
                                        <i class="feather icon-file-plus"></i>
                                        <span>Create</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <span>Hi, <% if(user){ %><%= user.username %><% } %></span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>

                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">

                                        <li>
                                            <a href="/<%= user.username %>/profile">
                                                <i class="feather icon-user"></i> Profile
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/logout" id="submitLogout">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    <nav class="pcoded-navbar">
                        <div class="nav-list">
                            <div class="pcoded-inner-navbar main-menu">
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class=" ">
                                        <a href="/" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="feather icon-home"></i>
                                            </span>
                                            <span class="pcoded-mtext">Home</span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href='/<%= user.username %>/profile#created'
                                            class="waves-effect waves-dark left-nav-menu">
                                            <span class="pcoded-micon">
                                                <i class="feather icon-file"></i>
                                            </span>
                                            <span class="pcoded-mtext">Sets</span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/<%= user.username %>/profile#folders" class="waves-effect waves-dark left-nav-menu">
                                            <span class="pcoded-micon">
                                                <i class="feather icon-folder"></i>
                                            </span>
                                            <span class="pcoded-mtext">Folders</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a type="button" class="waves-effect waves-dark left-nav-menu"
                                            data-toggle="modal" data-target="#create-folder">
                                            <span class="pcoded-micon">
                                                <i class="feather icon-plus"></i>
                                            </span>
                                            <span class="pcoded-mtext">Create a folder</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="modal fade" id="create-folder" tabindex="-1" role="dialog"
                        aria-labelledby="create-folder" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title " id="exampleModalLabel">Create a new folder</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/create-folder" method="POST" id="create-folder-form">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label" for="validationDefault01">Title</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="folder_title">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Description</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="folder_description">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button form="create-folder-form" type="submit" class="btn btn-success" id="create-folder-btn">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- body %>

                    <div id="styleSelector">
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade
            <br/>to any of the following web browsers to access this website.
        </p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="../files/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="../files/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="../files/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
<![endif]-->
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../../js/popper.min.js"></script>
    

    <script src="../../js/waves.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="../../js/jquery.slimscroll.js"></script>

    <script src="../../js/jquery.flot.js" type="text/javascript"></script>
    <script src="../../js/jquery.flot.categories.js" type="text/javascript"></script>
    <script src="../../js/curvedlines.js" type="text/javascript"></script>
    <script src="../../js/jquery.flot.tooltip.min.js" type="text/javascript"></script>

    <script src="../../js/amcharts.js" type="text/javascript"></script>
    <script src="../../js/serial.js" type="text/javascript"></script>
    <script src="../../js/light.js" type="text/javascript"></script>

    <script src="../../js/markerclusterer.js" type="text/javascript"></script>xx
    <script type="text/javascript" src="../../js/tabs.js"></script>
    <script src="../../js/pcoded.min.js" type="text/javascript"></script>
    <script src="../../js/vertical-layout.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/crm-dashboard.min.js"></script>
    <script type="text/javascript" src="../../js/script.min.js"></script>
    <script type="text/javascript" src="../../js/validate.js"></script>
    <script type="text/javascript" src="../../js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../js/modal.js"></script>
    <script src="../../js/classie.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/modaleffects.js"></script>
    <script type="text/javascript" src="../../js/list-custom.js"></script>
    <!-- <script type="text/javascript" src="js/form-validation.js"></script> -->
    <script type="text/javascript" src="../../js/custom-row.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="text/javascript"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="../../js/rocket-loader.min.js" data-cf-settings="2d8d78e876b340f9029c575b-|49" defer=""></script>
    
</body>

<!-- Mirrored from colorlib.com/polygon/admindek/default/dashboard-crm.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 16:08:32 GMT -->

</html>