<div class="pcoded-content">

    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-9">
                <div class="page-header-title">
                    <i class="feather icon-folder bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>
                            <%= folder.title %>
                        </h5>
                        <span>
                            <%= setsInFolder.length %> sets
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <button class="btn waves-effect waves-light btn-success btn-icon" data-toggle="modal"
                    data-target="#exampleModal"><i class="icofont icofont-plus add-set-btn"></i></button>
                        <% if(owner.username===user.username){ %>

                            <!-- <a type="button" href="/<%= folder.title %>/edit"
                                class="btn btn-warning btn-icon waves-effect waves-light" data-toggle="tooltip"
                                data-placement="top" title="Edit">
                                <i class="icofont icofont-edit"></i>
                            </a> -->
                            <a type="button" href="/folders/<%= folder.id%>/delete"
                                onclick="return confirm('Are you sure to delete this folder?')"
                                class="btn btn-danger btn-icon waves-effect waves-light" data-toggle="tooltip"
                                data-placement="top" title="Remove">
                                <i class="icofont icofont-trash"></i>
                            </a>

                            <% } %>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <% if(setsInFolder.length === 0){ %>
                        <h2 class="text-center">This folder has no sets yet</h3>
                    <% } else { %>
                        <div class="row ">
                        <% for(var i=0; i < setsInFolder.length; i++){ %>
                            <div class="col-xl-6 col-dm-6">
                                <div class="card list-view-media">
                                    <div class="card-block set-card">
                                        <div class="media">
                                            <a class="media-left" href="/<%= owner.username %>/<%= setsInFolder[i].id %>">
                                                <img class="media-object card-list-img"
                                                    src="../../jpg/set1.jpg"
                                                    alt="Generic placeholder image">
                                            </a>
                                            <div class="media-body">
                                                <div class="col-xs-12">
                                                    <a href="/<%= owner.username %>/<%= setsInFolder[i].id %>">
                                                        <h6 class="d-inline-block">
                                                            <%= setsInFolder[i].title %>
                                                        </h6>
                                                    </a>                                                    
                                                </div>
                                                <div class="f-13 text-muted m-b-15">
                                                    created by <span><a class="font-weight-bold" href="/<%= owners[i].username %>/profile#created"><%= owners[i].username %></a></span>
                                                </div>
                                                <p><%= setsInFolder[i].description %></p>
                                                <a href='/<%= owner.username %>/<%= setsInFolder[i].id %>'
                                                    class="btn btn-success">View Set</a>
                                                <a href='/folders/<%= folder.id %>/<%= setsInFolder[i].id %>/remove' class="btn btn-danger">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        </div>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-c-blue">
                <h3 class="modal-title text-white" id="exampleModalLabel">Add a set</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card d-flex">
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <a href="/<%= user.username %>/create-set" class="btn btn-success text-white">+ CREATE A NEW
                            SET</a>
                    </div>
                </div>
                <form action="/add-sets" method="POST" id="add-sets-form">
                    <input type="text" class="hidden" name="folderId" value="<%= folder.id %>">
                    <% for(var i = 0; i < notInFolderSets.length; i++){ %>
                        <input type="text" class="hidden" name="setTitle" value="<%= notInFolderSets[i].title %>"> 
                            <div class="card">
                                <div class="card-body">
                                    <div class="row col-md-12">
                                        <div class="col-md-11">
                                            <%= notInFolderSets[i].title %>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="checkbox-fade fade-in-success">
                                                <label>
                                                    <input type="checkbox" name="set" value="<%= notInFolderSets[i].title %>">
                                                    <span class="cr">
                                                        <i class="cr-icon icofont icofont-ui-check txt-success"></i>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <% } %>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="add-sets-form" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>