<div class="pcoded-content">
    <div class="page-header">
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="col-sm-12 row">
                                        <div class="col-sm-8">
                                            <h3
                                                style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">
                                                Become your most unstoppable self</h3>
                                            <br>
                                            <ul class="basic-list list-icons" style="border-bottom: none;">
                                                <li style="border-bottom: none;">
                                                    <i
                                                        class="icofont icofont-check text-success p-absolute text-center d-block f-30"></i>
                                                    <h6 style="font-weight: 800;">Create sets</h6>
                                                    <p>From flashcards to help you learn French to games that make it
                                                        easy to understand history, you can use a variety of tools to
                                                        conquer any challenge.</p>
                                                </li>
                                                <li style="border-bottom: none;">
                                                    <h6 style="font-weight: 800;">Create folders</h6>
                                                    <i
                                                        class="icofont icofont-check text-success p-absolute text-center d-block f-30"></i>
                                                    <p>Sets management by creating folders</p>
                                                </li>
                                                <li style="border-bottom: none;">
                                                    <h6 style="font-weight: 800;">Learn and Test</h6>
                                                    <i
                                                        class="icofont icofont-check text-success p-absolute text-center d-block f-30"></i>
                                                    <p>90% of students report receiving higher marks.</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4"
                                            style="background-image: url(../../png/copy3.png); background-repeat: no-repeat;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                        <h4 style="font-weight: bold;">Recent</h4>
                    
                        <div class="row">
                            <% if(sets.length < 4){ %>
                                <% for(var i = 0; i < sets.length; i++){ %>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card prod-p-card card-white">
                                            <div class="card-body">
                                                <div class="row align-items-center m-b-30">
                                                    <div class="col">
                                                        <a href="/<%= user.username %>/<%= sets[i].id %>"><h3 class="m-b-5 text-black"><%= sets[i].title %></h3></a>
                                                        <h6 class="m-b-0 f-w-700"><%= countTerms[i] %> Terms</h6>
                                                    </div>            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } else { %>
                                <% for(var i = 0; i < 4; i++){ %>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card prod-p-card card-white set-card">
                                            <div class="card-body">
                                                <div class="row align-items-center m-b-30">
                                                    <div class="col">
                                                        <a href="/<%= user.username %>/<%= sets[i].id %>"><h3 class="m-b-5 text-black"><%= sets[i].title %></h3></a>
                                                        <h6 class="m-b-0 f-w-700" style="font-size: small; color: gray;"><%= countTerms[i] %> Terms</h6>
                                                       
                                                    </div>
            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                            
                        </div>
                </div>
            </div>
        </div>
    </div>