<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from colorlib.com/polygon/admindek/default/dashboard-crm.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 16:08:30 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <title>Admindek | Admin Template</title>


    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
        content="Admindek Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords"
        content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="colorlib" />

    <link rel="icon" href="https://colorlib.com/polygon/admindek/files/assets/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">

    <link rel="stylesheet" href="../../css/waves.min.css" type="text/css" media="all">

    <link rel="stylesheet" type="text/css" href="../../css/feather.css">
    <link rel="stylesheet" type="text/css" href="../../css/icofont.css">
    <link rel="stylesheet" type="text/css" href="../../css/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awesome-n.min.css">

    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/widget.css">
    <link rel="stylesheet" type="text/css" href="../../css/pages.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <link rel="stylesheet" href="../../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../../css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../../css/owl.theme.default.css">
</head>
<style>
    .answer-btn {
        /* background-color: white;
        border: solid 1px #03fcf0;
        border-radius: 5px;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif; */
        .btn-mat
    }

    .answer-btn:hover {
        border: solid 1px orange;
    }

    .wrong {
        background-color: red;
        border: solid 1px orange;
    }

    .correct {
        background-color: green;
        border: solid 1px orange;
    }

    .question {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
</style>

<body>

    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header " header-theme="theme6">
                <div class="navbar-wrapper">
                    <div class="navbar-logo" logo-theme="theme6">
                        <a href="/">
                            <img class="img-fluid" src="/../../png/logo-selfmade.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu icon-toggle-right"></i>
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close">
                                            <i class="feather icon-x input-group-text"></i>
                                        </span>

                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn">
                                            <i class="feather icon-search input-group-text"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/<%= user.username %>/create-set">
                                    <div class="d-inline">
                                        <i class="feather icon-file-plus"></i>
                                        <span>Create</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <span>Hi, <% if(user){ %>
                                                <%= user.username %>
                                                    <% } %></span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>

                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">

                                        <li>
                                            <a href="/<%= user.username %>/profile">
                                                <i class="feather icon-user"></i> Profile
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/logout" id="submitLogout">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container>
                <div class=" pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="nav-list">
                        <div class="pcoded-inner-navbar main-menu">

                            <ul class="pcoded-item pcoded-left-item">
                                <li class=" ">
                                    <a href="/<%= owner.username %>/<%= set.title %>"
                                        class="waves-effect waves-dark left-nav-menu">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-chevron-left"></i>
                                        </span>
                                        <span class="pcoded-mtext">Back to set page</span>
                                    </a>
                                </li>

                                <li class=" ">
                                    <div class="pcoded-navigation-label">
                                        <p class="text-md-center">Remaining </p>
                                        <p class="text-md-center" id="remaining"></p>
                                        <hr>
                                        <p class="text-md-center">Familiar <span><i
                                                    class="feather icon-check"></i></span></p>
                                        <p class="text-md-center" id="familiar"></p>
                                        <hr>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">

                            <div class="page-wrapper">
                                <div class="page-body">
                                    <div class="col-lg-12 col-xl-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-block">
                                                    <div class="question" style="height: 13rem;">
                                                        <input type="text" value="<%= JSON.stringify(cards) %>"
                                                            class="hidden cards-data">
                                                        <input type="text" value="<%= JSON.stringify(quizzes) %>"
                                                            class="hidden quizzes-data">
                                                    </div>
                                                </div>
                                                <div class="choices">
                                                    <div class="card-block">
                                                        <div class="row answer-btns">
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="form-group">
                                                                    <button class="btn btn-block answer-btn"
                                                                        id="answer0"></button>
                                                                    <button class="btn btn-block answer-btn"
                                                                        id="answer1"></button>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="form-group">
                                                                    <button class="btn btn-block answer-btn"
                                                                        id="answer2"></button>
                                                                    <button class="btn btn-block answer-btn"
                                                                        id="answer3"></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button type="submit"
                                                                class="btn-lg waves-effect waves-light btn-success btn-square btn-block hidden next">Next</button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button type="submit"
                                                                class="btn-lg waves-effect waves-light btn-warning btn-square btn-block hidden retry">Retry</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="styleSelector">
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade
            <br/>to any of the following web browsers to access this website.
        </p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="../files/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="../files/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="../files/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
<![endif]-->
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../js/popper.min.js"></script>


    <script src="../../js/waves.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="../../js/jquery.slimscroll.js"></script>

    <script src="../../js/jquery.flot.js" type="text/javascript"></script>
    <script src="../../js/jquery.flot.categories.js" type="text/javascript"></script>
    <script src="../../js/curvedlines.js" type="text/javascript"></script>
    <script src="../../js/jquery.flot.tooltip.min.js" type="text/javascript"></script>

    <script src="../../js/amcharts.js" type="text/javascript"></script>
    <script src="../../js/serial.js" type="text/javascript"></script>
    <script src="../../js/light.js" type="text/javascript"></script>

    <script src="../../js/markerclusterer.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/tabs.js"></script>
    <script src="../../js/pcoded.min.js" type="text/javascript"></script>
    <script src="../../js/vertical-layout.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/crm-dashboard.min.js"></script>
    <script type="text/javascript" src="../../js/script.min.js"></script>
    <script type="text/javascript" src="../../js/validate.js"></script>
    <script type="text/javascript" src="../../js/sweetalert.min.js"></script>
    <script src="../../js/classie.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/modaleffects.js"></script>

    <!-- <script type="text/javascript" src="js/form-validation.js"></script> -->
    <script type="text/javascript" src="../../js/custom-row.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="text/javascript"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script>
        var cards = JSON.parse($('.cards-data').val());
        var quizzes = JSON.parse($('.quizzes-data').val());
        var currentIndex, remaining = quizzes, familiar = [];
        $(document).ready(function () {
            console.log(quizzes)
            currentIndex = 0;
            updateScore();
            setNextQuestion();
        });

        $('.answer-btn').on('click', function () {
            $('.next').removeClass('hidden');
            $('button[value="true"]').addClass('correct');
            if ($(this).val() === "false") {
                $(this).addClass('wrong');
            } else {
                remaining.shift();
                familiar.push($(this).text());
            }
            updateScore();
            if (remaining.length === 0) {
                $('.retry').removeClass('hidden');
                $('.next').addClass('hidden');
            }
        });

        $('.next').on('click', function () {
            shuffle(quizzes);
            setNextQuestion();
        });
        $('.retry').on('click', function () {
            location.reload();
        });

        function setNextQuestion() {
            resetState();
            showQuestion(remaining[currentIndex]);
        }

        function resetState() {
            $('.answer-btn').removeClass('correct');
            $('.answer-btn').removeClass('wrong');
            $('.next').addClass('hidden');
        }

        function showQuestion(quiz) {
            $('.question').text(quiz.question);
            var answerBtns = document.getElementsByClassName('answer-btn');
            for (let i = 0; i < 4; i++) {
                $(`#answer${i}`).text(quiz.answers[i].text);
                $(`#answer${i}`).val(quiz.answers[i].correct);
            }
        }

        function updateScore() {
            $('#remaining').text(remaining.length);
            $('#familiar').text(familiar.length);
        }
        function shuffle(array) {
            var currentIndex = array.length, temporaryValue, randomIndex;

            // While there remain elements to shuffle...
            while (0 !== currentIndex) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                // And swap it with the current element.
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }

            return array;
        }
    </script>
    <script type="text/javascript" src="../../js/learn.js"></script>
    <script src="../../js/rocket-loader.min.js" data-cf-settings="2d8d78e876b340f9029c575b-|49" defer=""></script>
</body>

<!-- Mirrored from colorlib.com/polygon/admindek/default/dashboard-crm.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 16:08:32 GMT -->

</html>