<div class="pcoded-content">

    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-12">
                <div class="page-header-title">
                    <div class="d-inline">
                        <span class="username"><%= user.username %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card">
                                <div class="card-block">
                                    <div class="row m-b-30">
                                        <div class="col-lg-12 col-xl-12">

                                            <ul class="nav nav-tabs md-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"
                                                        href="#created" role="tab">Created</a>
                                                    <div class="slide"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab"
                                                        href="#folders" role="tab">Folders</a>
                                                    <div class="slide"></div>
                                                </li>
                                                
                                            </ul>

                                            <div class="tab-content card-block">
                
                                                <div class="tab-pane active" id="created" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                                <div class="row card-block">
                                                                    <div class="col-md-12">
                                                                        <ul class="list-view">
                                                                            <% if(sets.length !== 0){ %>
                                                                                <% for(var i = 0; i < sets.length; i++){ %>
                                                                                    <li>
                                                                                        <div class="card list-view-media">
                                                                                            <div class="card-block set-card">
                                                                                                <div class="media">
                                                                                                    <a class="media-left" href="/<%= user.username %>/<%= sets[i].id %>">
                                                                                                        <img class="media-object card-list-img"
                                                                                                            src="../../jpg/set1.jpg"
                                                                                                            alt="Generic placeholder image">
                                                                                                    </a>
                                                                                                    <div class="media-body">
                                                                                                        <div class="col-xs-12">
                                                                                                            <a href="/<%= user.username %>/<%= sets[i].id %>">
                                                                                                                <h6 class="d-inline-block"><%= sets[i].title %></h6>
                                                                                                            </a>
                                                                                                        </div>
                                                                                                
                                                                                                        <p><%= sets[i].description %></p>
                                                                                    
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                <% } %>
                                                                            <% } %>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="folders"
                                                    role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                                <div class="row card-block">
                                                                    <div class="col-md-12">
                                                                        <ul class="list-view">
                                                                            <% for(var i = 0; i < folders.length; i++){ %>
                                                                                <li>
                                                                                    <div class="card list-view-media">
                                                                                        <div class="card-block set-card">
                                                                                            <div class="media">
                                                                                                <a class="media-left" href="/<%= user.username %>/folders/<%= folders[i].id %>">
                                                                                                    <img class="media-object card-list-img"
                                                                                                        src="../../png/folder3.png"
                                                                                                        alt="Generic placeholder image">
                                                                                                </a>
                                                                                                <div class="media-body">
                                                                                                    <div class="col-xs-12">
                                                                                                        <a href="/<%= user.username %>/folders/<%= folders[i].id %>">
                                                                                                            <h6 class="d-inline-block"><%= folders[i].title %></h6>
                                                                                                        </a>
                                                                                                    </div>
                                                                                                    <p><%= folders[i].description %></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                            <% } %>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>