<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from colorlib.com/polygon/admindek/default/dashboard-crm.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 16:08:30 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <title>OW</title>


    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
        content="Admindek Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords"
        content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="colorlib" />

    <link rel="icon" href="https://colorlib.com/polygon/admindek/files/assets/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">

    <link rel="stylesheet" href="../../css/waves.min.css" type="text/css" media="all">

    <link rel="stylesheet" type="text/css" href="../../css/feather.css">
    <link rel="stylesheet" type="text/css" href="../../css/icofont.css">
    <link rel="stylesheet" type="text/css" href="../../css/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awesome-n.min.css">

    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/widget.css">
    <link rel="stylesheet" type="text/css" href="../../css/pages.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <link rel="stylesheet" href="../../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../../css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../../css/owl.theme.default.css">

</head>
<style>
    .hidden {
        display: none !important;
    }
</style>

<body>

    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header " header-theme="theme6">
                <div class="navbar-wrapper">
                    <div class="navbar-logo" logo-theme="theme6">
                        <a href="/">
                            <img class="img-fluid" src="/../../png/logo-selfmade.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu icon-toggle-right"></i>
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close">
                                            <i class="feather icon-x input-group-text"></i>
                                        </span>

                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn">
                                            <i class="feather icon-search input-group-text"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/<%= user.username %>/create-set">
                                    <div class="d-inline">
                                        <i class="feather icon-file-plus"></i>
                                        <span>Create</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <span>Hi, <% if(user){ %>
                                                <%= user.username %>
                                                    <% } %></span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>

                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">

                                        <li>
                                            <a href="/<%= user.username %>/profile">
                                                <i class="feather icon-user"></i> Profile
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/logout" id="submitLogout">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container>
                <div class=" pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="nav-list">
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigation-label">STUDY</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class=" ">
                                    <a href="#" class="waves-effect waves-dark">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-copy"></i>
                                        </span>
                                        <span class="pcoded-mtext">Flashcards</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/<%= set.id %>/learn" class="waves-effect waves-dark left-nav-menu">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-book"></i>
                                        </span>
                                        <span class="pcoded-mtext">Learn</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/<%= set.id %>/write" class="waves-effect waves-dark left-nav-menu">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-edit"></i>
                                        </span>
                                        <span class="pcoded-mtext">Write</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/<%= set.id %>/test" class="waves-effect waves-dark left-nav-menu">
                                        <span class="pcoded-micon">
                                            <i class="fa fa-check-square"></i>
                                        </span>
                                        <span class="pcoded-mtext">Test</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="pcoded-content">
                    <div class="page-header card">
                        <div class="row align-items-end">
                            <div class="col-lg-10">
                                <div class="page-header-title">
                                    <i class="feather icon-file bg-c-blue"></i>
                                    <div class="d-inline">
                                        <h5>
                                            <%= set.title %>
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <% if(owner.username===user.username){ %>
                                    <a type="button" href="/<%= set.id %>/edit"
                                        class="btn btn-warning btn-icon waves-effect waves-light" data-toggle="tooltip"
                                        data-placement="top" title="Edit">
                                        <i class="icofont icofont-edit"></i>
                                    </a>
                                    <a type="button" href="/<%= set.id%>/delete"
                                        onclick="return confirm('Are you sure to delete this set?')"
                                        class="btn btn-danger btn-icon waves-effect waves-light" data-toggle="tooltip"
                                        data-placement="top" title="Remove">
                                        <i class="icofont icofont-trash"></i>
                                    </a>

                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
                                        data-interval="false">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <!-- <img src="../../jpg/slide1.jpg" class="d-block w-100" alt="..."> -->
                                                <div class="row col-lg-12">
                                                    <div class="col-sm-3"></div>

                                                    <!-- <div class="card mb-3"> -->
                                                    <div class="flip-card">
                                                        <div class="flip-card-inner">
                                                            <div class="card flip-card-front">
                                                                <p class="flip-card-text">
                                                                    <%= cards[0].term %>
                                                                </p>
                                                            </div>
                                                            <div class="card flip-card-back">
                                                                <p class="flip-card-text">
                                                                    <%= cards[0].definition %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- </div> -->

                                                </div>
                                            </div>
                                            <% for(var i=1; i < cards.length; i++){ %>
                                                <div class="carousel-item">
                                                    <!-- <img src="../../jpg/slide1.jpg" class="d-block w-100" alt="..."> -->
                                                    <div class="row col-lg-12">
                                                        <div class="col-sm-3"></div>

                                                        <!-- <div class="card mb-3"> -->
                                                        <div class="flip-card">
                                                            <div class="flip-card-inner">
                                                                <div class="card flip-card-front">
                                                                    <p class="flip-card-text">
                                                                        <%= cards[i].term %>
                                                                    </p>
                                                                </div>
                                                                <div class="card flip-card-back">
                                                                    <p class="flip-card-text">
                                                                        <%= cards[i].definition %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- </div> -->

                                                    </div>
                                                </div>
                                                <% } %>
                                                    <a class="carousel-control-prev" href="#carouselExampleControls"
                                                        role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon"
                                                            aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carouselExampleControls"
                                                        role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon"
                                                            aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                        </div>
                                    </div>
                                    <br>
                                    <h4 class="font-weight-bold">Terms in this set (<%= cards.length %>)</h4>


                                    <div class="card">
                                        <% for(var i=0; i < cards.length; i++){ %>
                                            <div class="card-block">
                                                <div class="row col-sm-12">
                                                    <div class="col-sm-12 col-xl-4">
                                                        <p>
                                                            <%= cards[i].term %>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-12 col-xl-7">
                                                        <p>
                                                            <%= cards[i].definition %>
                                                        </p>
                                                    </div>
                                                    <% if(owner.username===user.username){ %>
                                                        <a class="col-sm-12 col-xl-1" href="/<%= set.id %>/edit"><i
                                                                class="feather icon-edit"></i>
                                                        </a>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <hr>
                                            <% } %>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="styleSelector">
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade
            <br/>to any of the following web browsers to access this website.
        </p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="../files/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="../files/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="../files/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
<![endif]-->
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../js/popper.min.js"></script>


    <script src="../../js/waves.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="../../js/jquery.slimscroll.js"></script>

    <script src="../../js/jquery.flot.js" type="text/javascript"></script>
    <script src="../../js/jquery.flot.categories.js" type="text/javascript"></script>
    <script src="../../js/curvedlines.js" type="text/javascript"></script>
    <script src="../../js/jquery.flot.tooltip.min.js" type="text/javascript"></script>

    <script src="../../js/amcharts.js" type="text/javascript"></script>
    <script src="../../js/serial.js" type="text/javascript"></script>
    <script src="../../js/light.js" type="text/javascript"></script>

    <script src="../../js/markerclusterer.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/tabs.js"></script>
    <script src="../../js/pcoded.min.js" type="text/javascript"></script>
    <script src="../../js/vertical-layout.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/crm-dashboard.min.js"></script>
    <script type="text/javascript" src="../../js/script.min.js"></script>
    <script type="text/javascript" src="../../js/validate.js"></script>
    <script type="text/javascript" src="../../js/sweetalert.min.js"></script>
    <script src="../../js/classie.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/modaleffects.js"></script>

    <!-- <script type="text/javascript" src="js/form-validation.js"></script> -->
    <script type="text/javascript" src="../../js/custom-row.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="text/javascript"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="../../js/rocket-loader.min.js" data-cf-settings="2d8d78e876b340f9029c575b-|49" defer=""></script>
    <script>
        $('.flip-card').on('click',
            function () {
                $(this).toggleClass('flipped')
            }
        )
    </script>
</body>

<!-- Mirrored from colorlib.com/polygon/admindek/default/dashboard-crm.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 16:08:32 GMT -->

</html>