<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from colorlib.com/polygon/admindek/default/dashboard-crm.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 16:08:30 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <title>Admindek | Admin Template</title>


    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
        content="Admindek Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords"
        content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="colorlib" />

    <link rel="icon" href="https://colorlib.com/polygon/admindek/files/assets/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">

    <link rel="stylesheet" href="../../css/waves.min.css" type="text/css" media="all">

    <link rel="stylesheet" type="text/css" href="../../css/feather.css">
    <link rel="stylesheet" type="text/css" href="../../css/icofont.css">
    <link rel="stylesheet" type="text/css" href="../../css/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awesome-n.min.css">

    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/widget.css">
    <link rel="stylesheet" type="text/css" href="../../css/pages.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <link rel="stylesheet" href="../../css/custom.css">
    <style>
        #answer-input {
            width: 100%;
            outline: 0;
            border-width: 0 0 3px;
            border-color: black;
        }

        #answer-input:focus {
            outline: 0;
            border-width: 0 0 5px;
            border-color: orange;
        }

        .question {
            font-size: 30px;
        }

        .wrong {
            font-size: 30px;
            font-weight: bold;
            color: red;
        }

        .correct {
            font-size: 30px;
            font-weight: bold;
            color: green;
        }
    </style>
</head>

<body>

    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header " header-theme="theme6">
                <div class="navbar-wrapper">
                    <div class="navbar-logo" logo-theme="theme6">
                        <a href="/">
                            <img class="img-fluid" src="/../../png/logo-selfmade.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu icon-toggle-right"></i>
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close">
                                            <i class="feather icon-x input-group-text"></i>
                                        </span>

                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn">
                                            <i class="feather icon-search input-group-text"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/<%= user.username %>/create-set">
                                    <div class="d-inline">
                                        <i class="feather icon-file-plus"></i>
                                        <span>Create</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <span>Hi, <% if(user){ %>
                                                <%= user.username %>
                                                    <% } %></span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>

                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">

                                        <li>
                                            <a href="/<%= user.username %>/profile">
                                                <i class="feather icon-user"></i> Profile
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/logout" id="submitLogout">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container>
                <div class=" pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="nav-list">
                        <div class="pcoded-inner-navbar main-menu">

                            <ul class="pcoded-item pcoded-left-item">
                                <li class=" ">
                                    <a href="/<%= owner.username %>/<%= set.title %>"
                                        class="waves-effect waves-dark left-nav-menu">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-chevron-left"></i>
                                        </span>
                                        <span class="pcoded-mtext">Back to set page</span>
                                    </a>
                                </li>

                                <li class=" ">
                                    <div class="pcoded-navigation-label">
                                        <p class="text-md-center">Remaining </p>

                                        <p class="text-md-center" id="remainings">
                                            <%= cards.length %>
                                        </p>
                                        <hr>
                                        <p class="text-md-center">Correct <span>
                                                <iclass="feather icon-check"></i>
                                            </span></p>
                                        <p class="text-md-center" id="corrects"></p>
                                        <hr>
                                        <p class="text-md-center">Incorrect <span><i class="feather icon-x"></i></span>
                                        </p>
                                        <p class="text-md-center" id="incorrects"></p>
                                        <hr>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <input type="text" class="hidden cards-data" value="<%= JSON.stringify(cards) %>">
                            <div class="page-wrapper">
                                <div class="page-body">

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static"
                                        data-keyboard="false">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title wrong hidden" id="exampleModalLabel">wrong!
                                                    </h5>
                                                    <h5 class="modal-title correct hidden" id="exampleModalLabel">
                                                        Correct!</h5>
                                                </div>
                                                <div class="modal-body" style="font-weight: 600;">
                                                    <p>Correct answer: <span class="answer"></span></p>
                                                    <p class="result hidden">Result: <span class="result"></span></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary next"
                                                        data-dismiss="modal">Next question</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xl-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-block">
                                                    <div class="col-sm-12">
                                                        <div class="question" style="height: 20rem;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="answer">
                                                    <div class="card-block">
                                                        <div class="col-sm-12 row">
                                                            <div class="col-sm-10">
                                                                <input type="text" id="answer-input" />
                                                            </div>
                                                            <div class="col-sm-2" id="answer-btn">
                                                                <button type="button" data-toggle="modal"
                                                                    data-target="#exampleModal"
                                                                    class="btn btn-success btn-round waves-effect waves-light btn-block">Answer</button>
                                                            </div>
                                                            <div class="col-sm-2 hidden" id="retry-btn">
                                                                <button type="button"
                                                                    class="btn btn-warning btn-round waves-effect waves-light btn-block">Retry</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="set" value="<%= set.title %>" />
            <input type="hidden" id="cards" value="<%= cards %>" />
            <div id="styleSelector">
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade
            <br/>to any of the following web browsers to access this website.
        </p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="../files/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="../files/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="../files/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
<![endif]-->
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../js/popper.min.js"></script>


    <script src="../../js/waves.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="../../js/jquery.slimscroll.js"></script>

    <script src="../../js/jquery.flot.js" type="text/javascript"></script>
    <script src="../../js/jquery.flot.categories.js" type="text/javascript"></script>
    <script src="../../js/curvedlines.js" type="text/javascript"></script>
    <script src="../../js/jquery.flot.tooltip.min.js" type="text/javascript"></script>

    <script src="../../js/amcharts.js" type="text/javascript"></script>
    <script src="../../js/serial.js" type="text/javascript"></script>
    <script src="../../js/light.js" type="text/javascript"></script>

    <script src="../../js/markerclusterer.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/tabs.js"></script>
    <script src="../../js/pcoded.min.js" type="text/javascript"></script>
    <script src="../../js/vertical-layout.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/crm-dashboard.min.js"></script>
    <script type="text/javascript" src="../../js/script.min.js"></script>
    <script type="text/javascript" src="../../js/validate.js"></script>
    <script type="text/javascript" src="../../js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../js/modal.js"></script>
    <script src="../../js/classie.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/modaleffects.js"></script>

    <!-- <script type="text/javascript" src="js/form-validation.js"></script> -->
    <script type="text/javascript" src="../../js/custom-row.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="text/javascript"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script>
        var cards = JSON.parse($('.cards-data').val());
        var currentIndex, remainings = cards.length, corrects = 0, incorrects = 0, result;
        $(document).ready(function () {
            currentIndex = 0;
            updateScore();
            setNextQuestion();
        });
        $('#answer-btn').on('click', function () {
            var answer = $('#answer-input').val();
            remainings--;
            if (answer === cards[currentIndex].term) {
                $('.correct').removeClass('hidden');
                $('.wrong').addClass('hidden');
                $('.modal-body').addClass('hidden');
                corrects++;
            } else {
                $('.modal-body').removeClass('hidden');
                $('span.answer').text(cards[currentIndex].term);
                $('.wrong').removeClass('hidden');
                $('.correct').addClass('hidden');
                incorrects++;
            }
            updateScore();
        });

        $('.next').on('click', function () {
            currentIndex++;
            $('#answer-input').val('');
            $('.correct').addClass('hidden');
            $('.wrong').addClass('hidden');
            setNextQuestion();
        })
        $('#retry-btn').on('click', function(){
            location.reload();
        })

        function setNextQuestion() {
            if (remainings === 0) {
                $('#answer-btn').addClass('hidden');
                $('#retry-btn').removeClass('hidden');
            } else {
                showQuestion(cards[currentIndex]);
            }
        }

        function showQuestion(card) {
            $('.question').text(card.definition);
        }

        function updateScore() {
            $('#remainings').text(remainings);
            $('#corrects').text(corrects);
            $('#incorrects').text(incorrects);
        }
    </script>
    <script type="text/javascript" src="../../js/learn.js"></script>
    <script src="../../js/rocket-loader.min.js" data-cf-settings="2d8d78e876b340f9029c575b-|49" defer=""></script>
</body>

<!-- Mirrored from colorlib.com/polygon/admindek/default/dashboard-crm.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 16:08:32 GMT -->

</html>